<!DOCTYPE html>
<html>
  <head>
    <title>Horse.js</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue', media: 'all' %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
